*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    color: white;
    padding: 10px;
    height: 70px;
}

.navbar ul{
    list-style-type: none;
    padding : 25px;
}

.navbar ul li{
    /*display property*/
    display: inline;
} 

.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 35px;
}

.navbar ul li a:hover{
     background-color: rgb(102, 92, 92);
}

.right{
    /*display property*/
    display: inline-block;
    background-color: orchid;
    width: 50%;
    height: 90vh;
    /* If I apply display: none; property on orchid div the green div will will move to the left side*/

    /*It reserves the space for that element*/
    visibility: hidden;
    
}
  

.left{
    height: 60vh;
    /*display property*/
    display: inline-block;
    background-color: green;
    width: 50%;
   height: 90vh;
}

footer{
    /*font property*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    background-color: black;
    color: white;
    /*All the text inside the footer changed to the uppercase*/
    text-transform: uppercase;

}

.center{
    text-align: center;
}
